.env
.env.*
!.env.example

/vendor/
/node_modules/
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/logs/*
/storage/framework/*
!/storage/framework/.gitignore
/public/hot
/public/build

/build/
/release/
/.work/

*.bak.*
*.log
*.sql
*.dump
*.tar
*.tar.gz
*.zip

.idea/
.vscode/
.DS_Store
Thumbs.db
